{
	"parserOptions": {
		"ecmaVersion": 9,
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"plugins": [
		"react"
	],
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended"
	],
	"rules": {
		"comma-dangle": 0,
		"react/prop-types": 0
	},
	"settings": {
		"react": {
			"pragma": "React",
			"version": "17"
		}
	},
	"env": {
		"browser": true,
		"node": true
	}
}
