body {
	// scroll-behavior: smooth;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
	font-weight: normal;
	word-wrap: break-word;
	font-kerning: normal;
	-moz-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
	-ms-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
	-webkit-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
	font-feature-settings: 'kern', 'liga', 'clig', 'calt';
	@extend %system-font;
	cursor: all-scroll;

	background-repeat: repeat-y;
	background-size: 50%;
}

::-moz-selection {
	// background-color: #b3d4fc;
	// color: #000000;
	text-shadow: none;
}

::selection {
	// background-color: #b3d4fc;
	// color: #000000;
	text-shadow: none;
}

::-webkit-input-placeholder {
	color: inherit;
	opacity: 0.54;
}
::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}
