


/**
 * Makes all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
::before,
::after,
*:before,
*:after {
  box-sizing: inherit;
}

::before,
::after {
	text-decoration: inherit;
	vertical-align: inherit;
}

html {
	cursor: default;
	-ms-text-size-adjust: 100%; // sass-lint:disable-line no-vendor-prefixes
	-webkit-text-size-adjust: 100%; // sass-lint:disable-line no-vendor-prefixes
}

body {
	scroll-behavior: smooth;
	-webkit-font-smoothing: antialiased; /* 1 */ // sass-lint:disable-line no-vendor-prefixes
	-moz-osx-font-smoothing: grayscale; /* 1 */ // sass-lint:disable-line no-vendor-prefixes
}



::-moz-selection {
	// background-color: #b3d4fc;
	// color: #000000;
	text-shadow: none;
}

::selection {
	// background-color: #b3d4fc;
	// color: #000000;
	text-shadow: none;
}
