#home-canvas {
	position: fixed;
	top: 0;
	left: 0;
	bottom:0;
	right: 0;
	z-index: -2;
}

.home-intro {
	height: 100vh;
	position: fixed;
	top: 0;
	z-index: -1;
	.title {
		margin: 1em;

		h1 {
			font-size: 5rem;
			font-weight: normal;
		}
	}
}


.home-blurb {
	background: #E4E4E4;
	margin-top: 90vh;
	width: 100%;
	color: rgba(0,0,0,0.95);
	display: flex;
	min-height: 50vh;
	justify-content: center;

	p {
		max-width: 300px;
		align-self: center;
		padding: 3rem;
	}
}
