#logo {
	position: fixed;
	text-decoration: none;
	margin: 1em;
	top: 0;
	img {
		width: 35px;
		display: inline-block;
		margin-right: 1em;
		&:hover {
			transform: rotate(30deg);
		}
	}
	.title {
		color: rgba(214, 214, 214, 0.6);
		display: inline-block;
		transform: translateY(4px);
		font-size: 20px;
		transition: 0.2s ease-in-out color;
		&:hover {
			color: rgba(214, 214, 214, 1);
		}
	}
}

.social-container {
	position: fixed;
	bottom: $sw *2;
	right: $sw*2;
	text-align: right;
}

.social-icon {
	color: white;
	border: 1px solid white;
	border-radius: 50%;
	width: 37px;
	height: 37px;
	display: inline-block;
	text-align: center;
	font-style: normal;
	text-decoration: none;
	padding: 4px;
	margin-right: 5px;
	background: rgba(0, 0, 0, 0.103);
	&:hover, &:focus {
		background: black;
		color: white;
		border-color: blue;
	}
}
