$br: 10px; // border radius
$sw: 10px; // screen outline width (padding)

// note that styling is imported on a per-component basis,
// which enables quicker downloads for essential styling
@import '../util/util';
@import 'viewport';
@import 'hud';
@import 'menu';

// Tablet & smaller: This site was designed desktop-first
// see util, vendor/media & settings for query information

// default styling for otherwise unstyled pages
.page {
	article {
		max-width: 70ch;
		padding: 5rem 1em 7em 1em;
		margin: 0 auto;
	}
	background: yellow;
	min-height: 100vh;
	cursor: auto;
}

.nn-grid {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
	img {
		display: block;
		width: 100%;
		&:first-of-type {
			grid-column: 1 / span 2;
		}
	}
}
