$br: 10px; // border radius
$sw: 10px; // screen outline width (padding)

#viewport {
	position: fixed;
	top: 0;
	right: 0;
	bottom:0;
	left: 0;
	z-index: -2;
	background: #1a1a1a;
	padding: $sw;
	// pointer-events: none;
	touch-action: none;

	// canvas wrapper element
	// creates the CRT-style inner-bevel effect
	&>div {
		border-radius: $br;
	}
}

.loader {
	color: white;
	width: 100vw;
	height: 100vh;
	text-align: center;
	background: blue;
}

.canvas-dom-link {
	background: blue;
	color: white;
	padding: 4px 8px 4px 8px;
	font-family: 'Uni Neue', sans-serif;
	font-weight: bold;
	font-style: italic;
}
