$br: 10px; // border radius
$sw: 5px; // screen outline width (padding)

#viewport {
	position: fixed;
	top: 0;
	right: 0;
	bottom:10vh;
	left: 0;
	z-index: -2;
	background: #1a1a1a;
	padding: $sw;

	// canvas wrapper element
	// creates the CRT-style inner-bevel effect
	div {
		border-radius: $br;
		box-shadow: inset 0px 0px 20px 10px rgba(0,0,0,0.29);
	}
}

#loader {
	color: white;
	width: 100vw;
	height: 100vh;
	position: relative;
	z-index: 1000;
	top: -50vh !important;
	left: -50vw;
	background: blue;
}

.canvas-dom-link {
	background: blue;
	color: white;
	padding: 4px 8px 4px 8px;
	font-family: 'Uni Neue', sans-serif;
	font-weight: bold;
	font-style: italic;
}
