$breakpoints: (
	'mobile': 640px,
	'tablet': 768px,
	'tabletH': 1024px,
	'desktop': 1280px,
	'desktopM': 1440px,
	'desktopL': 1680px,
	'desktopXL': 1920px
);

$br: 10px; // border radius
$sw: 10px; // screen outline width (padding)
